@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: url(./assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}


.app {
    width: 900px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 30px;
    overflow: visible;
}

.heading {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form input {
    border: none;
    padding: 11px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: .3s;
}

form button {
    font-size: 16px;
    border: none;
    width: 100%;
    margin: auto;
    padding: 11px;
    border-radius: 10px;
    background: #1B4EF5;
    color: white;
    font-weight: 700;
    transition: .3s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

form button:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

table {
    width: 98%;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

thead {
    background: #4facfe;
    color: white;
}

thead th {
    padding: 11px;
    font-size: 16px;
}

tbody tr {
    transition: .3s;
}

tbody tr:nth-child(n) {
    background-color: white;
}

tbody td {
    padding: 12px;
    text-align: center;
    color: #444;
    word-break: break-word;
    white-space: normal;
}

td button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    transition: .3s;
}

.btn1 {
    background-color: #1C4EF5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn2 {
    background-color: rgba(225, 3, 3, 0.829);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media(max-width:768px){

    body{
        padding:15px;
    }

    .app{
        width:100%;
        padding:20px;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }

    form button{
        width:100%;
    }
}